<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>融资计算器</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="#">融资管理系统</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="container" style="margin-top: 30px;">
    <div class="card card-fx">

        <div class="card-body">

            <div class="calc-input"></div>

            <div class="calc-output"></div>

        </div>

    </div>
</div>


<script type="text/javascript" src="./res/js/core-ccde7cf7d89e79765b57.bundle.js"></script></body>
</html>